@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Open+Sans&family=Roboto:ital,wght@0,400;0,700;1,400&family=Space+Mono&display=swap');
* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato';
	font-weight: 50px;

	}
.jumbotron {
    background: url("hello.png") no-repeat center;
}
.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}

}


.sSticky {
position: fixed;
top: 0;
width: 100%;
z-index: 999;
}


.media-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	transition-property: transform;
}

.media-icons a {
	position: relative;
	color: #111;
	font-size: 25px;
	transition: 0.3s;
	transition-property: transform;
}

.media-icons a:not(:last-child){
	margin-right: 60px;

}

.media-icons a:hover {
	transform: scale(1.5);
}



body .about_me p {

	background-color: #3E4551;
	text-align: center;
	color: white;
}	

footer {
	background-color: #4B515D;
	color: white;
}

footer .footer-copyright {
	background-color: #3E4551;
}

.body1 {
	background-color:#3F729B;
}

#contact_us {
	color: white;
}

#about_me {
	color: white;
}
.container {
	color: white;
}

.display-3 {
	color: white;
}


}
